name: chat_ui_clone
description: Chat UI clone (Messenger/WhatsApp style) with dynamic bubbles and scrolling
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  intl: ^0.19.0

flutter:
  uses-material-design: true
